<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body >
<div class="card" style="width: 38rem;margin:auto;padding:150px">
    <form method="POST">
    {% csrf_token %}
    <fieldset class="form-group">
        <legend class="border-bottom mb-4">Delete User Account</legend>
            <p>Are you sure you want to delete your account?  This will permanently delete your
               profile and any content you have generated.</p>
            {{form}}
    </fieldset>
    <div class="form-group">
        <button class="btn btn-danger" type="submit">Delete Account</button>
            <a class="btn btn-primary-custom" style="float:right;"
               href="{% url 'student_viewprofile' %}">Cancel</a>
    </div>
</form>
</div>
</body>
</html>